.box1 {
  background-color: blueviolet;
  border-width: 5px;
  border-style: solid;
  border-color: blue;
}

.box2 {
  background-color: greenyellow;
  border-width: 5px;
  border-color: red;
  border-style: dotted;
  border-radius: 5px;
}

.text1 {
  background-color: #242F9B
  ;
  color: #DBDFFD
  ;
}

.text2 {
  background-color: #14C38E

  ;
  color: #B8F1B0
  ;
}

.box3 {
  background-color: #2F8F9D
  ;
  opacity: 0.6;
}

.box5 {
  background-color: lemonchiffon;
  box-shadow: 8px 2px 15px teal;
}

.box6 {
  background-color: papayawhip;
  box-shadow: 5px 10px #800000;
}


/* do not change below this line */

body {
  padding: 20px;
}

.container {
  position: relative;
}

.box4 {
  top: 0;
  left: 5px;
  background-color: hotpink;
  position: absolute;
  z-index: -1;
}

.text {
  width: 500px;
  padding: 5px;
  margin: 20px;
}

.box {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  box-sizing: border-box;
}

h2 {
  opacity: 0.5;
}
